<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>load cookie</h1>
    <h3>cookie1 : <%=cookie1%></h3>
</body>
</html>